<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | EasyDrive Rentals</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="./signup.css">
   <style>
    </style>
</head>

<body>

    <nav class="navbar">
        <a href="./" class="navbar-brand"><i class="fas fa-car"></i> EasyDrive Rentals</a>
        <a href="./" class="navbar-link"><i class="fas fa-home"></i>Home</a> <!-- Home button -->
        <a class="navbar-link" href="./register"><i class="fas fa-pen"></i> Register A Vehicle</a>
        <a class="navbar-link" href="./rent"><i class="fas fa-suitcase"></i> Rent A Vehicle</a>
     </nav>

   
    <div class="form-container">
        <h1>Sign Up</h1>

        <form action="/signup" method="POST" class="signup-form">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter your full name" required>
            </div>
        
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter a username" required>
            </div>
        
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email address" required>
            </div>
        
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter a password" required>
            </div>
        
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        

        <p class="text-center">Already have an account? <a href="/login" class="redirect-link">Login</a></p>
    </div>
    <script>
    
    </script>

</body>

</html>
