/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {

  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

/* Service details styles */
.container {
  margin-top: 4px;
}

.service-details {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 35px;
}

.service-details h2 {
  margin-bottom: 20px;
}

.btn-vehicle {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-vehicle:hover {
  background-color: #0056b3;
}

/* Registration form styles */
.registration-form {
  display: none;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.registration-form h3 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
